* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
a {
  display: inline-block;
  background-color: #ff2df1;
  color: #121212;
  padding: 23px 40px;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 16px;
  z-index: 1; /*Create a new stacking context*/
  overflow: hidden;
  transition: color 450ms linear;
  position: relative;
  font-size: 30px;
}

a:hover {
  color: #ffd18e;
}

a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #a5158c;

  /* After this point, the pseudo element will be directly above the original element and its content and cover it completely  */

  z-index: -1;

  /* 
   In this case, the pseudo-element will be positioned above the background color of the original element but below its content.
   This occurs because we established a new stacking context by assigning the original element a z-Index value of 1.
   As a result, it is distinct from the accumulation context of the page and is layered from bottom to top as follows:
   1. The wallpaper color of the original element
   2. Any element with a negative z-Index value
   3. Any element with positive values, and the text content is included among them.
  */

  transform: scaleY(0); /*To hide the pseudo element*/
  transform-origin: 0% 0%; /*The effect starts from the top*/
  transition: transform 450ms ease-in-out;
}
a:hover::after {
  transform: scaleY(1);
  /*It moves from the top to the bottom */
}
