* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
a {
  display: inline-block;
  background-color: #ff2df1;
  color: #121212;
  padding: 23px 40px;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 16px;
  z-index: 1; /*Create a new stacking context*/
  overflow: hidden;
  transition: color 450ms linear;
  position: relative;
  font-size: 30px;
}

a:hover {
  color: #ffd18e;
}

a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #a5158c;

  /* After this point, the pseudo element will be directly above the original element and its content and cover it completely  */

  z-index: -1;

  /*
      Here the pseudo element will become above the background color of the original element and under the content of the original element
  
      This happened because we created a new stacking context when we gave us the original element value
      Z-Index: 1;
      It has become different from the context of the page's accumulation and is as follows from the bottom up
      
      1. The original element wallpaper color
      2. Any element has a negative value in the  Z-Index
      3. Any element that has positive values ​​and the text content is among them
  
    */

  transform: scaleY(0); /*To hide the pseudo element*/
  transform-origin: 0% 0%; /*The effect starts from the far left*/
  transition: transform 450ms ease-in-out;
}
a:hover::after {
  transform: scaleY(1);
  /*It moves from the far left to the far right */
}
